<a href="https://colab.research.google.com/github/ricejohn03/Pandas-Tabular-Data-Manipulation/blob/master/Basic_Pandas_Tabular_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Basic Pandas Tabular Data Manipulation

MPG auto dataset

In [0]:
import pandas as pd

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv")
df[0:5]

    mpg  cylinders  displacement  ... year  origin                       name
0  18.0          8         307.0  ...   70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...   70       1          buick skylark 320
2  18.0          8         318.0  ...   70       1         plymouth satellite
3  16.0          8         304.0  ...   70       1              amc rebel sst
4  17.0          8         302.0  ...   70       1                ford torino

[5 rows x 9 columns]

In [0]:
# Strip non-numerics
df = df.select_dtypes(include=['int', 'float'])

headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name' : field,
        'mean': df[field].mean(),
        'var': df[field].var(),
        'sdev': df[field].std()
    })

for field in fields:
    print(field)

{'name': 'mpg', 'mean': 23.514572864321615, 'var': 61.089610774274405, 'sdev': 7.815984312565782}
{'name': 'cylinders', 'mean': 5.454773869346734, 'var': 2.8934154399199943, 'sdev': 1.7010042445332094}
{'name': 'displacement', 'mean': 193.42587939698493, 'var': 10872.199152247364, 'sdev': 104.26983817119581}
{'name': 'weight', 'mean': 2970.424623115578, 'var': 717140.9905256768, 'sdev': 846.8417741973271}
{'name': 'acceleration', 'mean': 15.568090452261291, 'var': 7.604848233611381, 'sdev': 2.7576889298126757}
{'name': 'year', 'mean': 76.01005025125629, 'var': 13.672442818627143, 'sdev': 3.697626646732623}
{'name': 'origin', 'mean': 1.5728643216080402, 'var': 0.6432920268850575, 'sdev': 0.8020548777266163}

In [0]:
df = pd.DataFrame(fields)
df

          mean          name        sdev            var
0    23.514573           mpg    7.815984      61.089611
1     5.454774     cylinders    1.701004       2.893415
2   193.425879  displacement  104.269838   10872.199152
3  2970.424623        weight  846.841774  717140.990526
4    15.568090  acceleration    2.757689       7.604848
5    76.010050          year    3.697627      13.672443
6     1.572864        origin    0.802055       0.643292

# Missing Values

Dealing with Missing Values is always a factor in Machine Learning. First We will recal the csv and  
fill empty values with NAN

In [0]:
df[32:33]

     mpg  cylinders  displacement  ... year  origin        name
32  25.0          4          98.0  ...   71       1  ford pinto

[1 rows x 9 columns]

In [0]:
df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])
print(f"Does Horsepower have any na values? {pd.isnull(df['horsepower']).values.any()}")

Does Horsepower have any na values? True

In [0]:
df[32:33]

     mpg  cylinders  displacement  ...  year  origin        name
32  25.0          4          98.0  ...    71       1  ford pinto

[1 rows x 9 columns]

Now we will fill these missing values with the median values of horsepower. It is better to use the median than mean due to outliters in the data set.

In [0]:
med = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(med)

print(f"Does Horsepower have any na values? {pd.isnull(df['horsepower']).values.any()}")

Does Horsepower have any na values? False

# Dealing With Ouliers

these are values in the data that are unsually high or low. These tend to be defiend by the value being serval standard deviations away for the mean.

In [0]:
# Removes all all rows where the specified column is +/- standard deviations

def remove_outliers(df, name, sd):
    drop_rows = df.index[(np.abs(df[name] - df[name].mean())
                          >= (sd * df[name].std()))]
    df.drop(drop_rows, axis=0, inplace=True)

In [0]:
import pandas as pd
import os
import numpy as np
from sklearn import metrics
from scipy.stats import zscore

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

# create feature vector
med = df['horsepower'].median()
df['horsepower'] = df['horsepower'].fillna(med)

# Drop the name column
df.drop('name',1,inplace=True)

# Drop outliers in horsepower
print("Length before MPG outliers dropped: {}".format(len(df)))
remove_outliers(df,'mpg',2)
print("Length after MPG outliers dropped: {}".format(len(df)))

display(df[0:5])

Length before MPG outliers dropped: 398
Length after MPG outliers dropped: 388

    mpg  cylinders  displacement  ...  acceleration  year  origin
0  18.0          8         307.0  ...          12.0    70       1
1  15.0          8         350.0  ...          11.5    70       1
2  18.0          8         318.0  ...          11.0    70       1
3  16.0          8         304.0  ...          12.0    70       1
4  17.0          8         302.0  ...          10.5    70       1

[5 rows x 8 columns]

# Dropping Fields

some fields have little to know value for the nueral network. These columns will be removed with the code below.

In [0]:
import pandas as pd
import os


df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

print(f"Before Droped Columns: {list(df.columns)}")
df.drop('name', 1, inplace=True)
print(f"Before Droped Columns: {list(df.columns)}")

Before Droped Columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
Before Droped Columns: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin']

# Concatenating Row

Create new dataframes by combinding row and columns together.

In [0]:
# Create a new dataframe from name and horsepower

import os
import pandas as pd

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

col_horsepower = df['horsepower']
col_name = df['name']
result = pd.concat([col_name, col_horsepower], axis=1)
display(result[0:5])

                        name  horsepower
0  chevrolet chevelle malibu       130.0
1          buick skylark 320       165.0
2         plymouth satellite       150.0
3              amc rebel sst       150.0
4                ford torino       140.0

In [0]:
# Create a new dataframe from first 2 rows and last 2 rows

import os
import pandas as pd

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

result = pd.concat([df[0:2],df[-2:]], axis=0)
display(result)

      mpg  cylinders  displacement  ...  year  origin                       name
0    18.0          8         307.0  ...    70       1  chevrolet chevelle malibu
1    15.0          8         350.0  ...    70       1          buick skylark 320
396  28.0          4         120.0  ...    82       1                ford ranger
397  31.0          4         119.0  ...    82       1                 chevy s-10

[4 rows x 9 columns]

# Training and Validation

it is very important that we evaluate a machine learning model based on its ability to predict data that it has never seen before. Because of this we often divide the training data into a validation and training set. The machine learning model will learn from the training data, but ultimately be evaluated based on the validation data.

Training Data - In Sample Data - The data that the machine learning model was fit to/created from.
Validation Data - Out of Sample Data - The data that the machine learning model is evaluated upon after it is fit to the training data.
There are two predominant means of dealing with training and validation data:

Training/Validation Split - The data are split according to some ratio between a training and validation (hold-out) set. Common ratios are 80% training and 20% validation.
K-Fold Cross Validation - The data are split into a number of folds and models. Because a number of models equal to the folds is created out-of-sample predictions can be generated for the entire dataset.
The code below performs a split of the MPG data into a training and validation set. The training set uses 80% of the data and the validation set uses 20%.

The following image shows how a model is trained on 80% of the data and then validated against the remaining 20%.

In [0]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

df = df.reindex(np.random.permutation(df.index)) # Usually a good idea to shuffle
mask = np.random.rand(len(df)) < 0.8
trainDF = pd.DataFrame(df[mask])
validationDF = pd.DataFrame(df[~mask])

print(f"Training DF: {len(trainDF)}")
print(f"Validation DF: {len(validationDF)}")

Training DF: 333
Validation DF: 65

# Converting a Dataframe to a Matrix

Converting a Dataframe to a Matrix
Neural networks do not directly operate on Python dataframes. A neural network requires a numeric matrix. The values property of a dataframe is used to convert to a matrix.

In [0]:
df.values

array([[18.5, 8, 360.0, ..., 79, 1,
        'chrysler lebaron town @ country (sw)'],
       [16.0, 8, 400.0, ..., 77, 1, 'pontiac grand prix lj'],
       [15.0, 8, 350.0, ..., 75, 1, 'chevrolet bel air'],
       ...,
       [16.0, 8, 318.0, ..., 75, 1, 'plymouth grand fury'],
       [28.0, 4, 151.0, ..., 80, 1, 'chevrolet citation'],
       [22.4, 6, 231.0, ..., 81, 1, 'buick century']], dtype=object)

In [0]:
df[['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin']].values

array([[ 18.5,   8. , 360. , ...,  13. ,  79. ,   1. ],
       [ 16. ,   8. , 400. , ...,  11.1,  77. ,   1. ],
       [ 15. ,   8. , 350. , ...,  14. ,  75. ,   1. ],
       ...,
       [ 16. ,   8. , 318. , ...,  14.5,  75. ,   1. ],
       [ 28. ,   4. , 151. , ...,  16.5,  80. ,   1. ],
       [ 22.4,   6. , 231. , ...,  15.8,  81. ,   1. ]])

# Saving a Dataframe to CSV
Many of the assignments in this course will require that you save a dataframe to submit to the instructor. The following code performs a shuffle and then saves a new copy.

In [0]:
import os
import pandas as pd
import numpy as np

path = "."

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

filename_write = os.path.join(path, "auto-mpg-shuffle.csv")
df = df.reindex(np.random.permutation(df.index))
df.to_csv(filename_write, index=False) # Specify index = false to not write row numbers
print("Done")

Done

# Saving a Dataframe to Pickle
CSV files are text and can be used by a variety of software programs. However, they do take longer to generate and can sometimes lose small amounts of precision in the conversion. Another format is Pickle. Generally you will output to CSV because it is very compatible, even outside of Python. The code below stores the Dataframe to Pickle.

In [0]:
import os
import pandas as pd
import numpy as np
import pickle

path = "."

df = pd.read_csv(
    "https://data.heatonresearch.com/data/t81-558/auto-mpg.csv",
    na_values=['NA','?'])

filename_write = os.path.join(path, "auto-mpg-shuffle.pkl")
df = df.reindex(np.random.permutation(df.index))

with open(filename_write,"wb") as fp:
    pickle.dump(df, fp)

print("Done")