# Mapping Values to Features

In [0]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/auto-mpg.csv", 
    na_values=['NA', '?'])

display(df[0:10])

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8         307.0  ...    70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...    70       1          buick skylark 320
2  18.0          8         318.0  ...    70       1         plymouth satellite
3  16.0          8         304.0  ...    70       1              amc rebel sst
4  17.0          8         302.0  ...    70       1                ford torino
5  15.0          8         429.0  ...    70       1           ford galaxie 500
6  14.0          8         454.0  ...    70       1           chevrolet impala
7  14.0          8         440.0  ...    70       1          plymouth fury iii
8  14.0          8         455.0  ...    70       1           pontiac catalina
9  15.0          8         390.0  ...    70       1         amc ambassador dpl

[10 rows x 9 columns]

In [0]:
df['origin_name'] = df['origin'].map({1: 'North America', 2: 'Europe', 3: 'Asia'})
df[0:30]

     mpg  cylinders  ...                          name    origin_name
0   18.0          8  ...     chevrolet chevelle malibu  North America
1   15.0          8  ...             buick skylark 320  North America
2   18.0          8  ...            plymouth satellite  North America
3   16.0          8  ...                 amc rebel sst  North America
4   17.0          8  ...                   ford torino  North America
5   15.0          8  ...              ford galaxie 500  North America
6   14.0          8  ...              chevrolet impala  North America
7   14.0          8  ...             plymouth fury iii  North America
8   14.0          8  ...              pontiac catalina  North America
9   15.0          8  ...            amc ambassador dpl  North America
10  15.0          8  ...           dodge challenger se  North America
11  14.0          8  ...            plymouth 'cuda 340  North America
12  15.0          8  ...         chevrolet monte carlo  North America
13  14.0          8  ...       buick estate wagon (sw)  North America
14  24.0          4  ...         toyota corona mark ii           Asia
15  22.0          6  ...               plymouth duster  North America
16  18.0          6  ...                    amc hornet  North America
17  21.0          6  ...                 ford maverick  North America
18  27.0          4  ...                  datsun pl510           Asia
19  26.0          4  ...  volkswagen 1131 deluxe sedan         Europe
20  25.0          4  ...                   peugeot 504         Europe
21  24.0          4  ...                   audi 100 ls         Europe
22  25.0          4  ...                      saab 99e         Europe
23  26.0          4  ...                      bmw 2002         Europe
24  21.0          6  ...                   amc gremlin  North America
25  10.0          8  ...                     ford f250  North America
26  10.0          8  ...                     chevy c20  North America
27  11.0          8  ...                    dodge d200  North America
28   9.0          8  ...                      hi 1200d  North America
29  27.0          4  ...                  datsun pl510           Asia

[30 rows x 10 columns]

# Apply With Dataframes
If the apply function is directly executed on the data frame, the lambda function is called once per column or row, depending on the value of axis. For axis = 1, rows are used.

The following code calculates a series called efficiency that is the displacement divided by horsepower

In [0]:
effi= df.apply(lambda x: x['displacement']/x['horsepower'], axis=1)
effi[0:10]

0    2.361538
1    2.121212
2    2.120000
3    2.026667
4    2.157143
5    2.166667
6    2.063636
7    2.046512
8    2.022222
9    2.052632
dtype: float64

Feature Engineering with Apply and Map